@charset "UTF-8";
/*Utils - */
:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-hover: #2196f3;
  --color-filter: #f5f4fa;
  --color--white: #ffffff;
  --color--nav--: #2f303a;
  --color--icongroup--: #afb1b8;
}

/*Base*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

/*Components*/
.button {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--color--white);
  background-color: var(--color-hover);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container .auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 0;
}
.header__container .auth-nav__contacts {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
.header__container .auth-nav__contacts:hover, .header__container .auth-nav__contacts:focus {
  color: var(--color-hover);
  fill: var(--color-hover);
}
.header__container .contact-icon {
  margin-right: 10px;
  fill: var(--color-secondary);
}
.header__container .topline {
  color: var(--color-hover);
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.119;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header__container .toplinesecond {
  color: #000000;
  font-family: Raleway;
  text-decoration: none;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  gap: 50px;
}
.header__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.header__link:hover, .header__link:focus {
  color: var(--color-hover);
}
.header__link.current {
  color: var(--color-hover);
}
.header__link.current:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-hover);
  border-radius: 2px;
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  outline: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/HeroImg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/HeroImg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
}
.hero-section__title {
  color: var(--color--white);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 30px;
}

.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-section .benefits-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.benefits-section .benefits-items .benefits-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits-section .benefits-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.benefits-section .benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.employment-section {
  padding-bottom: 94px;
}
.employment-section .employment__title {
  color: var(--color-primary);
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}
.employment-section .employment-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.employment-section .employment-item .employment__item—caption {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.employment-section .employment-item .employment__item—caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color--white);
  text-transform: uppercase;
}

.team-section {
  background: var(--color-filter);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-section .team__title {
  color: var(--color-primary);
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.team-section .team__cards {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team-section .team__cards .team__img {
  background-color: var(--color--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section .team__cards .team__img .team__info {
  padding-top: 30px;
}
.team-section .team__cards .team__img .team__info .team__name {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.team-section .team__cards .team__img .team__info .team__job {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
.team-section .team__cards .team__img .team__info .info__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.team-section .team__cards .team__img .team__info .info__socials-list .socials-list__item {
  width: 44px;
  height: 44px;
}
.team-section .team__cards .team__img .team__info .info__socials-list .socials-list__item .socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color--white);
  fill: var(--color--icongroup--);
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.team-section .team__cards .team__img .team__info .info__socials-list .socials-list__item .socials-list__link:hover, .team-section .team__cards .team__img .team__info .info__socials-list .socials-list__item .socials-list__link:focus {
  background-color: var(--color-hover);
  fill: var(--color--white);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__title {
  color: var(--color-primary);
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.client__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}
.client__items .client__item {
  width: 170px;
  height: 95px;
}
.client__items .client__item .client__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.client__items .client__item .client__logo:hover, .client__items .client__item .client__logo:focus {
  fill: var(--color-hover);
  border: 1px solid var(--color-hover);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color--nav--);
}
.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-container .subscribe-wrapper {
  margin-left: 93px;
}
.footer .footer-container .subscribe-wrapper .subscribe-form__title {
  color: var(--color--white);
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .footer-container .subscribe-wrapper .subscribe-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-container .subscribe-wrapper .subscribe-form__content .subscribe-form__input {
  width: 360px;
  color: var(--color--white);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 10px;
}
.footer .footer-container .subscribe-wrapper .subscribe-form__content input {
  padding: 15px 16px;
}
.footer .footer-container .subscribe-wrapper .subscribe-form__content .subscribe-form__button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  letter-spacing: 0.06em;
  color: var(--color--white);
  background-color: var(--color-hover);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  fill: var(--color--white);
  cursor: pointer;
}
.footer .footer-container .join {
  margin-left: 70px;
}
.footer .footer-container .join .join__title {
  color: var(--color--white);
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .footer-container .join__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0;
}
.footer .footer-container .join__socials-list .socials-list__item {
  width: 44px;
  height: 44px;
}
.footer .footer-container .join__socials-list .socials-list__item .item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color--white);
  fill: var(--color--icongroup--);
  border-radius: 50%;
  margin: 0;
  fill: var(--color--white);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.footer .footer-container .join__socials-list .socials-list__item .item__link:hover, .footer .footer-container .join__socials-list .socials-list__item .item__link:focus {
  background-color: var(--color-hover);
}
.footer .footer-container .topline {
  margin-right: 93px;
  color: var(--color-hover);
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.119;
  letter-spacing: 0.03em;
}
.footer .footer-container .studiofooter {
  color: var(--color--white);
  font-family: Raleway;
  text-decoration: none;
}
.footer .footer-container address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color--white);
  letter-spacing: 0.03em;
  margin-top: 28px;
}
.footer .footer-container address .adres {
  color: var(--color--white);
  padding-bottom: 12px;
}
.footer .footer-container address .footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}
.footer .footer-container address .footer-contacts:hover, .footer .footer-container address .footer-contacts:focus {
  color: var(--color-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  background-color: var(--color--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal .button-icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--color--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition-property: border-color, background-color, fill;
  transition-property: border-color, background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.modal .button-icon:hover, .modal .button-icon:focus {
  fill: var(--color-hover);
}
.modal .form {
  width: 450px;
}
.modal .form .form__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal .form .form-field {
  position: relative;
  margin-bottom: 30px;
}
.modal .form .form-field .form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  -webkit-transition-property: border-color, background-color, fill;
  transition-property: border-color, background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.modal .form .form-field .form-input:hover, .modal .form .form-field .form-input:focus {
  border: 1px solid var(--color-hover);
}
.modal .form .form-field .placeholder {
  position: absolute;
  left: 40px;
}
.modal .form .form-field .form-label {
  position: absolute;
  top: -19px;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal .form .form-field .icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal .form .form-field .icon-form:hover, .modal .form .form-field .icon-form:focus {
  fill: var(--color-hover);
}
.modal .form .coment-item {
  position: relative;
  margin-bottom: 20px;
}
.modal .form .coment-item .form-coment {
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal .form .coment-item .coment-item-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: border-color, background-color, fill;
  transition-property: border-color, background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.modal .form .coment-item .coment-item-textarea:hover, .modal .form .coment-item .coment-item-textarea:focus {
  border-color: var(--color-hover);
}
.modal .form .coment-item .coment-item-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.modal .form .coment-item .coment-item-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.modal .form .coment-item .coment-item-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.modal .form .coment-item .coment-item-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.modal .form .coment-item .coment-item-textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}
.modal .form .form-submit {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--color--white);
  background-color: var(--color-hover);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition-property: border-color, background-color, fill;
  transition-property: border-color, background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.modal .form .form-submit:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.policy-text {
  margin-bottom: 30px;
}
.policy-text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-left: 14px;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
}
.policy-text-item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.policy-text-icon {
  position: absolute;
  fill: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
}
.policy-text-item:checked + .policy-text-icon {
  fill: var(--color--white);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}
.policy-text-label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}
.policy-text-conditions {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 711;
  letter-spacing: 0.03em;
  color: var(--color-hover);
}

.example {
  padding-top: 94px;
  padding-bottom: 94px;
}
.example__items {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.example__button {
  color: var(--color-primary);
  background-color: var(--color-filter);
  border-color: var(--color-filter);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.example__button:hover, .example__button:focus {
  color: var(--color--white);
  background-color: var(--color-hover);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.example .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.example .project__item:hover .text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.example .project__item:hover, .example .project__item:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example .project__card {
  position: relative;
  overflow: hidden;
}
.example .project__card:hover {
  cursor: pointer;
}
.example .project__name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.example .project__nameing {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding-bottom: 4px;
}
.example .project__referral {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.example .project .text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color--white);
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*layout - Макет*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}/*# sourceMappingURL=main.css.map */