:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-hover: #2196f3;
    --color-filter: #f5f4fa;
    --color--white: #ffffff;
    --color--nav--: #2f303a;
    --color--icongroup--: #afb1b8;
}